body {
    margin: 0;
}

:root {
    --image-height: 38vh;
    --image-height2: 14vh;
}

#headLorem {
    color: #000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: KoHo, serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}

#bottomLorem {
    color: #000;
    font-family: KoHo, serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#section-1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/image 4.png");
    background-size: cover;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    width: auto;
    height: 38vh;
}

#div-1 {
    height: var(--image-height);
    /*width: 100%;*/
}

#img-1 {
    height: var(--image-height);
    aspect-ratio: 4 / 3;
}

#div-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAF9F7;
    height: 100%;
    max-width: 35vw;
    aspect-ratio: 4 / 3;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 27vw;
    height: 7vh;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("./assets/Rectangle 4.png");
    background-size: cover;
}

iframe {
    width: 69vw;
    height: auto;
    aspect-ratio: 16 / 9;
    margin-bottom: 5%;
}

#text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#h-1 {
    /*margin-top: 1%;*/
    margin-bottom: 0;
}

#p-1 {
    color: #000;
    font-family: KoHo, serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 69vw;
    margin-top: 0;
}

/*Section 3*/
#section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("./assets/Rectangle 4.png");
    background-size: cover;
}

.div-sec-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 68vh;
    background: rgba(83, 83, 83, 0.40);
    margin: 2%;
    /*padding: 5%;*/
}

.img-2 {
    height: auto;
    width: 27vw;
    aspect-ratio: 16 / 9;
    margin-top: 4%;
}

.p-2{
    color: #000;
    font-family: KoHo, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-overflow: clip;
    margin: 4%;
}

.button-3 {
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 27vw;
    height: 7vh;
    margin-bottom: 20%;
    font-size: 25px;
    color: grey;
}