@media screen and (min-width: 600px) and (max-width: 1200px) {
    body {
        justify-content: center;
        align-items: center;
    }

    #big-banner>.text-span {
        padding: 40px;
        position: relative;
        top: 30px;
        color: white;
    }

    #big-banner {
        margin-bottom: 15px;
    }

    #banners-four {
        flex-wrap: nowrap;
        margin-bottom: 10px;
    }

.one-of-four>.text-span {
    display: inline-block;
    position: relative;
    top: 30px;
    transform: rotate(-90deg);
    }

    .one-of-four {
        width: 24%;
        height: 101%;
        /*margin-bottom: 5px;*/
    }

    footer {

    }
}